<a href="https://colab.research.google.com/github/dcallirgos/UTE_Fundamentos_de_Programacion/blob/main/Modulo2/Listas_y_tuplas_Parte_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5>Listas y tuplas - Parte II
</font></h1>

---

## Tabla de Contenidos

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Trabajando con Listas </a>
2. <a href="#item31">Trabajando con slices</a>  
3. <a href="#item31">Tuplas</a>  
4. <a href="#item31">Diccionarios</a>  

</font>
</div>

---

# 1. Trabajando con Listas

In [ ]:
numeros = [1, 2, 3, 4, 5]

In [ ]:
print(numeros)

In [ ]:
a = ['John', 'Ricardo', 'Marcelo', 'Heidy', 'Nataly']

In [ ]:
a = [1, 10, 4, 5, 99.0]

In [ ]:
a = [1, 10, 4, 5, 'Nataly']

In [ ]:
a = [1, 10, 4, 5, None]

In [ ]:
lista = list("1234")
print(lista)

lista = list('bienvenido al curso')
print(lista)

['1', '2', '3', '4']
['b', 'i', 'e', 'n', 'v', 'e', 'n', 'i', 'd', 'o', ' ', 'a', 'l', ' ', 'c', 'u', 'r', 's', 'o']

In [ ]:
a = [1, 10, 4, 5, [2, 3, 8]]

### Usando la función rango

In [ ]:
for i in [1,2,3,4,5,6,7,8,9,10]:
  if i % 3 == 0:
    print(f'{i} es multiplo de 3')

3 es multiplo de 3
6 es multiplo de 3
9 es multiplo de 3

In [ ]:
#rango (inicio, final +1)
for i in range(1, 5):
  print(i)

1
2
3
4

In [ ]:
for value in range(1, 5):
    print(value)

In [ ]:
for value in range(1, 6):
    print(value)

### Usando range para crear listas de números

In [ ]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers = list(range(1, 6))
print(numbers)

In [ ]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

In [ ]:
squares = []

for value in range(1, 11):
    square = value ** 2
    squares.append(square)
    
print(squares)

In [ ]:
squares = []

for value in range(1,11):
    squares.append(value**2)
    
print(squares)

### Estadísticos sencillos de listas

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
min(digits)

0

In [ ]:
max(digits)

9

In [ ]:
sum(digits)

45

In [ ]:
len(digits)

10

### List Comprehensions

In [ ]:
mi_lista = [(x**2 + 15) for x in range(1,11) if (x % 5 == 0) and (x*10 > 50)]
print(mi_lista)

[115]

In [ ]:
squares = [value**2 for value in range(1, 11)]
print(squares)

---

<b> Ejercicio 1</b>

use un bucle **for** para imprimir los números del 1 al 20, inclusive.

In [ ]:
for i in range(1,21):
  print (i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

---

<b> Ejercicio 2</b>

Haga una lista de los números del uno al millón y luego use un ciclo for para imprimir los números. (Si la salida tarda demasiado, deténgala presionando CTRL-C o cerrando la ventana de salida).

In [ ]:
for i in range(1,1_000_001):
  print(i,end=' ')

1 2 3 4 5 6 7 8 9

---

<b> Ejercicio 3</b>

Haga una lista de los números del uno al millón y luego use min() y max() para asegurarse de que su lista realmente comience en uno y termine en un millón. Además, use la función sum() para ver qué tan rápido Python puede agregar un millón de números.

In [ ]:
lista=[]
for i in range(1,1_000_001):
  lista.append(i)
a=min(lista)
b=max(lista)
c=sum(lista)

print(a)
print(b)
print(c)

1
1000000
500000500000

---

<b> Ejercicio 4</b>

Use el tercer argumento de la función range() para hacer una lista de los números impares del 1 al 20. Use un bucle for para imprimir cada número.

In [ ]:
for i in range(1,20,2):
  print(i,end=' ')

1 3 5 7 9 11 13 15 17 19

---

<b> Ejercicio 5</b>

Haga una lista de los múltiplos de 3 de 3 a 30. Use un ciclo for para imprimir los números en su lista.

In [ ]:
#Ejercicio 5: Haga una lista de los múltiplos de 3 de 3 a 30. Use un ciclo for para imprimir los números en su lista.
for i in range(3,31,3):
  print(i,end=' ')

3 6 9 12 15 18 21 24 27 30

---

<b> Ejercicio 6</b>

Haga una lista de los primeros 10 cubos (es decir, el cubo de cada número entero del 1 al 10) y use un ciclo for para imprimir el valor de cada cubo.

In [ ]:
#Ejercicio 6: Haga una lista de los primeros 10 cubos (es decir, el cubo de cada número entero del 1 al 10) y use un ciclo for para imprimir el valor de cada cubo.

cubo = []
for i in range(1,11):
  cubo.append(i**3)
print(cubo)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

---

<b> Ejercicio 7</b>

Use una lista de comprensión para generar una lista de los primeros 10 cubos.

---

In [ ]:
# Ejercicio 7: Use una lista de comprensión para generar una lista de los primeros 10 cubos.
cubos = [i**3 for i in range(1,11)]
print(cubo)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# 2. Trabajando con slices

### Slice

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[3])

In [ ]:
print(players[-2])

In [ ]:
print(players[1:4])

In [ ]:
print(players[:4])

In [ ]:
print(players[2:])

In [ ]:
print(players[-3:])

### Loop a través de un slice

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']

print("Estos son los tres primeros jugadores del equipo:")
for player in players[:3]:
    print(player.title())

### Copiando una lista

In [4]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[0:2]
print(friend_foods)

['pizza', 'falafel']

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

In [ ]:
print("Mis platillos favoritos son:")
print(my_foods)

In [ ]:
print("\nMis platillos favoritos son:")
print(friend_foods)

In [12]:
my_foods.append('cannoli')
friend_foods.append('ice cream')

In [11]:
print("Mis platillos favoritos son:")
print(my_foods)

Mis platillos favoritos son:
['pizza', 'falafel', 'carrot cake']

In [10]:
print("\nMis platillos favoritos son:") # Con \n me da un salto de linea en el print.
print(friend_foods)

print("\tMis platillos favoritos son:") # Con \t obtengo una sangria 
print(friend_foods)

Mis platillos favoritos son:
['pizza', 'falafel']
	Mis platillos favoritos son:
['pizza', 'falafel']

---

<b> Ejercicio 1</b>

Utilizando alguna lista definida anteriormente:

*   Imprima el mensaje **Los tres primeros elementos de la lista son:**. Luego use un slice para imprimir los primeros tres elementos de la lista de ese programa.

*   Imprima el mensaje **Tres elementos de la mitad de la lista son:**. Use un slice para imprimir tres elementos del medio de la lista.

*   Imprima el mensaje **Los últimos tres elementos de la lista son:**. Utilice un slice para imprimir los últimos tres elementos de la lista.

In [15]:
my_foods = ['pizza', 'falafel', 'carrot cake','pasta','ceviche']

print('Los tres primeros elementos de la lista son: ')
for i in range(0,len(my_foods)):
  print(my_foods[i])

Los tres primeros elementos de la lista son:
pizza
falafel
carrot cake
pasta
ceviche

In [16]:
my_foods = ['pizza', 'falafel', 'carrot cake','pasta','ceviche']

print('Los tres primeros elementos de la lista son: ')
for i in range(a,len(my_foods)):
  if i < 3:
    print(my_foods[i])

Los tres primeros elementos de la lista son:
pizza
falafel
carrot cake

In [24]:
my_foods = ['pizza', 'falafel', 'carrot cake','pasta','ceviche','menestrón']

print('Los tres últimos elementos de la lista son: ')
a = len(my_foods)-3
for i in range(a,len(my_foods)):
    print(my_foods[i])

Los tres últimos elementos de la lista son:
pasta
ceviche
menestrón

---

<b> Ejercicio 2</b>

Haga una copia de la lista de pizzas y llámela friend_pizzas. Luego, haz lo siguiente:

* Agregue una nueva pizza a la lista original.
* Agrega una pizza diferente a la lista friend_pizzas.
* Demuestra que tienes dos listas separadas. Imprima el mensaje Mis pizzas favoritas son: y luego use un bucle for para imprimir la primera lista. Imprima el mensaje Las pizzas favoritas de mi amigo son: y luego use un bucle for para imprimir la segunda lista. Asegúrese de que cada pizza nueva se almacene en la lista adecuada.

### Métodos en listas

Cómo modificar elementos de una lista

In [25]:
a[2] = 1
print(a)

TypeError: ignored

In [26]:
my_foods = ['pizza', 'falafel', 'carrot cake','pasta','ceviche','menestrón']

del my_foods[1] # del es una sentencia que borra el elemento; cualquier cosa se borra con del
my_foods

['pizza', 'carrot cake', 'pasta', 'ceviche', 'menestrón']

In [27]:
my_foods[3] = 'sushi'
my_foods

['pizza', 'carrot cake', 'pasta', 'sushi', 'menestrón']

In [ ]:
del a[1]
print(a)

In [ ]:
a[0:2] = [0, 0, 0]

operaciones con listas

In [29]:
a = [1,2,3]
b = [4,5]
c = a + b
c

[1, 2, 3, 4, 5]

In [31]:
a = [1, 2, 3]
a += [4, 5]
a

[1, 2, 3, 4, 5]

In [ ]:
a = [1, 2, 3]
x, y, z = a

<b>append</b>

Añade un elemento al final de la lista.

In [ ]:
a = [1, 2]
a.append(3)
print(a)

In [32]:
# append siempre agrega un elemento al final de la lista y solo sirve para agregar UN SOLO ELEMENTO

my_foods = ['pizza', 'falafel', 'carrot cake','pasta','ceviche','menestrón']
my_foods.append('lomo saltado')
print(my_foods)

['pizza', 'falafel', 'carrot cake', 'pasta', 'ceviche', 'menestrón', 'lomo saltado']

<b>extend</b>

Permite añadir una lista a la lista inicial.

In [ ]:
a = [1, 2]
a.extend([3, 4])
print(a)

In [41]:
my_foods = ['pizza', 'falafel', 'carrot cake','pasta','ceviche','menestrón']
my_foods.extend(['sopa seca','tamal'])
print(my_foods)

['pizza', 'falafel', 'carrot cake', 'pasta', 'ceviche', 'menestrón', 'sopa seca', 'tamal']

<b>insert</b>

Añade un elemento en una posición o índice determinado.

In [ ]:
a = [1, 3]
a.insert(1, 10)
print(a)

In [34]:
my_foods = ['pizza', 'falafel', 'carrot cake','pasta','ceviche','menestrón']
my_foods.insert(2,'spaguettis')
print(my_foods)

['pizza', 'falafel', 'spaguettis', 'carrot cake', 'pasta', 'ceviche', 'menestrón']

<b>remove</b>

Elimina elementos de una lista

In [ ]:
a = [1, 2, 3]
a.remove(2)
print(a)

<b>pop</b>

Elimina por defecto el último elemento de la lista, pero si se pasa como parámetro un índice permite borrar elementos diferentes al último

In [36]:
a = [1, 2, 3]
a.pop()
print(a)

[1, 2]

In [40]:
my_foods = ['pizza', 'falafel', 'carrot cake','pasta','ceviche','menestrón']
my_foods.pop(2)
print(my_foods)

['pizza', 'falafel', 'pasta', 'ceviche', 'menestrón']

In [39]:
my_foods.remove('ceviche')
print(my_foods)

['pizza', 'falafel', 'carrot cake', 'pasta', 'menestrón', 'sopa seca', 'tamal']

<b>reverse</b>
Inverte el orden de la lista

In [ ]:
a = [1, 2, 3]
a.reverse()
print(a)

<b>sort</b>

Ordena los elementos de menor a mayor.

In [42]:
my_foods = ['pizza', 'falafel', 'carrot cake','pasta','ceviche','menestrón']
my_foods.sort()
print(my_foods)

['carrot cake', 'ceviche', 'falafel', 'menestrón', 'pasta', 'pizza']

In [43]:
my_foods = ['pizza', 'falafel', 'carrot cake','pasta','ceviche','menestrón']
my_foods.sort(reverse = True)
print(my_foods)

['pizza', 'pasta', 'menestrón', 'falafel', 'ceviche', 'carrot cake']

In [ ]:
a = [3, 1, 2]
a.sort()
print(a)

In [ ]:
a = [3, 1, 2]
a.sort(reverse = True)
print(a)

In [ ]:
a = ['John', 'Ricardo', 'Marcelo', 'Heidy', 'Nataly']
a.index('Ricardo')

1

In [44]:
my_foods = ['pizza', 'falafel', 'carrot cake','pasta','ceviche','menestrón']
my_foods.index('pasta')

3

# 3. Tuplas

In [ ]:
dimensions = (200, 50)

In [ ]:
print(dimensions[0])

In [ ]:
print(dimensions[1])

In [ ]:
dimensions[0] = 250

### Loops a traves de una Tupla

In [ ]:
dimensions = (200, 50)
for dimension in dimensions:
    print(dimension)

### Modificando una tupla

In [ ]:
print("Dimensiones originales:")
for dimension in dimensions:
    print(dimension)

In [ ]:
dimensions = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
  print(dimension)

---

<b> Ejercicio 1</b>

Un restaurante estilo buffet ofrece solo cinco alimentos básicos. Piense en cinco alimentos simples y guárdelos en una tupla.

* Use un bucle for para imprimir cada comida que ofrece el restaurante.
Intente modificar uno de los elementos y asegúrese de que Python rechace el cambio.
* El restaurante cambia su menú, reemplazando dos de los artículos con comidas diferentes. Agregue una línea que reescriba la tupla y luego use un ciclo for para imprimir cada uno de los elementos en el menú revisado.

---

# 4. Diccionarios

### Un diccionario simple

In [ ]:
alien_0 = {'color': 'green', 'points': 5}

print(alien_0['color'])
print(alien_0['points'])

### Trabajando con diccionarios

In [ ]:
alien_0 = {'color': 'green'}

print(alien_0['color'])

In [ ]:
alien_0 = {'color': 'green', 'points': 5}

new_points = alien_0['points']
print(f"Acabas de ganar {new_points} puntos!")

### Agregando nuevos pares Key-Value

In [ ]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)

alien_0['x_position'] = 0
alien_0['y_position'] = 25
print(alien_0)

### Comenzando con un diccionario vacio

In [ ]:
alien_0 = {}

alien_0['color'] = 'green'
alien_0['points'] = 5

print(alien_0)

### Modificando valores de un diccionario

In [ ]:
alien_0 = {'color': 'verde'}
print(f"El alien es {alien_0['color']}.")

alien_0['color'] = 'amarillo'
print(f"El alien ahora es {alien_0['color']}.")

In [ ]:
alien_0 = {'x_position': 0, 'y_position': 25, 'speed': 'medium'}
print(f"Original position: {alien_0['x_position']}")

if alien_0['speed'] == 'slow':
  x_increment = 1
elif alien_0['speed'] == 'medium':
  x_increment = 2
else:
  x_increment = 3

alien_0['x_position'] = alien_0['x_position'] + x_increment
print(f"New position: {alien_0['x_position']}")

### Removiendo pares Key-Value

In [ ]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)

del alien_0['points']
print(alien_0)

### Un diccionario de objetos similares

In [ ]:
favorite_languages = {
    'jen': 'python',
    'sarah': 'c++',
    'edward': 'ruby',
    'phil': 'python',
    }

In [ ]:
language = favorite_languages['sarah']
print(f"El lenguaje favorito de Sarah es {language}.")

In [ ]:
favorite_languages['sarah']

### Usando get() para acceder a los valores

In [ ]:
alien_0 = {'color': 'green', 'speed': 'slow'}
print(alien_0['points'])

In [ ]:
alien_0.get('color')

In [ ]:
point_value = alien_0.get('points', 'No point value assigned.')
print(point_value)

In [ ]:
alien_0.get('points', 'No point value assigned.')

---

<b> Ejercicio 1</b>

Usa un diccionario para almacenar información sobre una persona que conoces. Almacene su nombre, apellido, edad y la ciudad en la que vive. Debe tener claves como nombre, apellido, edad y ciudad. Imprima cada parte de información almacenada en su diccionario.

---

<b> Ejercicio 2</b>

Use un diccionario para almacenar los números favoritos de las personas. Piensa en cinco nombres y utilízalos como llaves en tu diccionario. Piense en un número favorito para cada persona y guárdelo como un valor en su diccionario. Escriba el nombre de cada persona y su número favorito.

---

<b> Ejercicio 3</b>

Piense en cinco palabras de programación que haya aprendido. Utilice estas palabras como llaves en su glosario y almacene sus significados como valores.

Imprima cada palabra y su significado como una salida con un formato ordenado. Puede imprimir la palabra seguida de dos puntos y luego su significado, o imprimir la palabra en una línea y luego imprimir su significado con sangría en una segunda línea. Utilice el carácter de nueva línea (\n) para insertar una línea en blanco entre cada par de palabra y significado en su salida.

---

### Loops con diccionarios

In [ ]:
user_0 = {
    'username': 'efermi',
    'first': 'enrico',
    'last': 'fermi',
    }

In [ ]:
for key, value in user_0.items():
    print(f"\nKey: {key}")
    print(f"Value: {value}")

In [ ]:
for name, language in favorite_languages.items():
  print(f"El lenguaje favorito de {name} es {language}.")

In [ ]:
for name in sorted(favorite_languages.keys()):
    print(f"{name.title()}, gracias por tomar la encuesta.)

---

<b> Ejercicio 1</b>

Haga un diccionario que contenga tres ríos principales y el país por el que pasa cada río. Un par clave-valor podría ser 'nilo': 'egipto'.

* Use un bucle para imprimir una oración sobre cada río, como El Nilo atraviesa Egipto.
* Utilice un bucle para imprimir el nombre de cada río incluido en el diccionario.
* Use un bucle para imprimir el nombre de cada país incluido en el diccionario.

---

<b> Ejercicio 2</b>

Haz una lista de las personas que deberían participar en la encuesta de idiomas favoritos. Incluye algunos nombres que ya estén en el diccionario y otros que no.
Recorra la lista de personas que deberían realizar la encuesta. Si ya han realizado la encuesta, imprima un mensaje agradeciéndoles por responder. Si aún no han realizado la encuesta, imprima un mensaje invitándoles a realizar la encuesta.

---

### Lista de diccionarios

In [ ]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

aliens = [alien_0, alien_1, alien_2]

for alien in aliens:
  print(alien)

In [ ]:
aliens = []

# Make 30 green aliens.
for alien_number in range(30):
    new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
    aliens.append(new_alien)

# Show the first 5 aliens.
for alien in aliens[:5]:
    print(alien)
print("...")

# Show how many aliens have been created.
print(f"Total number of aliens: {len(aliens)}")

In [ ]:
aliens = []

# Make 30 green aliens.
for alien_number in range(30):
    new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
    aliens.append(new_alien)

for alien in aliens[:3]:
    if alien['color'] == 'green':
        alien['color'] = 'yellow'
        alien['speed'] = 'medium'
        alien['points'] = 10

# Show the first 5 aliens.
for alien in aliens[:5]:
    print(alien)
print("...")

# Show how many aliens have been created.
print(f"Total number of aliens: {len(aliens)}")

In [ ]:
aliens = []

# Make 30 green aliens.
for alien_number in range(30):
  new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
  aliens.append(new_alien)

for alien in aliens[:3]:
  if alien['color'] == 'green':
    alien['color'] = 'yellow'
    alien['speed'] = 'medium'
    alien['points'] = 10
        
  elif alien['color'] == 'yellow':
    alien['color'] = 'red'
    alien['speed'] = 'fast'
    alien['points'] = 15

# Show the first 5 aliens.
for alien in aliens[:5]:
    print(alien)
print("...")

# Show how many aliens have been created.
print(f"Total number of aliens: {len(aliens)}")

### Una lista en un diccionario

In [ ]:
# Store information about a pizza being ordered.
pizza = {
         'crust': 'thick',
         'toppings': ['mushrooms', 'extra cheese'],
        }

# Summarize the order.
print(f"You ordered a {pizza['crust']}-crust pizza "
  "with the following toppings:")

for topping in pizza['toppings']:
  print(f"\t{topping}")

In [ ]:
favorite_languages = {
       'jen': ['python', 'ruby'],
       'sarah': ['c'],
       'edward': ['ruby', 'go'],
       'phil': ['python', 'haskell'],
       }

for name, languages in favorite_languages.items():
  print(f"\n{name}'s favorite languages are:")

  for language in languages:
    print(f"\t{language}")

---

<b> Ejercicio 1</b>

Cree tres nuevos diccionarios que representen a diferentes personas y almacene los tres diccionarios en una lista llamada personas. Recorra su lista de personas. Mientras recorre la lista, imprima todo lo que sabe sobre cada persona.

---

<b> Ejercicio 2</b>

Haga varios diccionarios, donde cada diccionario represente una mascota diferente. En cada diccionario, incluya el tipo de animal y el nombre del dueño. Guarde estos diccionarios en una lista llamada mascotas. A continuación, recorra su lista y, mientras lo hace, imprima todo lo que sepa sobre cada mascota.

---

<b> Ejercicio 3</b>

Haga un diccionario llamado lugares_favoritos. Piense en tres nombres para usar como llaves en el diccionario y almacene de uno a tres lugares favoritos para cada persona. Recorre el diccionario e imprime el nombre de cada persona y sus lugares favoritos.

---

<b> Ejercicio 4</b>

Haz un diccionario llamado ciudades. Usa los nombres de tres ciudades como llaves en tu diccionario. Cree un diccionario de información sobre cada ciudad e incluya el país en el que se encuentra la ciudad, su población aproximada y un dato sobre esa ciudad. Las claves para el diccionario de cada ciudad deben ser algo como país, población y hecho. Imprime el nombre de cada ciudad y toda la información que tengas almacenada sobre ella.

---

<b> Ejercicio 5</b>

Ahora estamos trabajando con ejemplos que son lo suficientemente complejos como para que puedan extenderse de varias maneras. Utilice uno de los programas de este laboratorio y amplíelo agregando nuevas claves y valores, cambiando el contexto del programa o mejorando el formato de la salida.

---

---

# Gracias por completar este laboratorio!

---