<a href="https://colab.research.google.com/github/dcallirgos/UTE_Fundamentos_de_Programacion/blob/main/modulo_2/Pandas_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5> ESTRUCTURAS DE DATOS - PANDAS DATAFRAMES
</font></h1>

---

## Tabla de Contenidos

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>

1. <a href="#item31">Series en Pandas</a>
2. <a href="#item32">DataFrames en Pandas</a>
3. <a href="#item33">Indexación y selección de datos en DataFrames</a>
4. <a href="#item34">Limpieza y manipulación de datos</a>

</font>
</div>

---

## 1. Series en Pandas

* Es una estructura de datos unidimensional que puede contener datos de cualquier tipo (enteros, flotantes, cadenas, etc.). Es similar a una columna en una tabla o una matriz unidimensional, y se utiliza para representar y manipular conjuntos de datos unidimensionales.

* Una Serie consta de dos componentes principales: los datos y el índice. Los datos representan los valores almacenados en la Serie, mientras que el índice es una etiqueta asociada a cada elemento de los datos que permite identificar y acceder a ellos de manera eficiente.

### Creación de Series

Crear una Serie a partir de una lista:

In [ ]:
import pandas as pd

datos = [10, 20, 30, 40, 50]
serie = pd.Series(datos)
print(serie)

Crear una Serie a partir de un diccionario:

In [ ]:
datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
serie = pd.Series(datos)
print(serie)

Crear una Serie con etiquetas personalizadas:

In [ ]:
datos = [10, 20, 30, 40, 50]
etiquetas = ['A', 'B', 'C', 'D', 'E']

serie = pd.Series(datos, index=etiquetas)
print(serie)

Crear una Serie a partir de un arreglo de NumPy:

In [ ]:
import numpy as np

arreglo = np.array([10, 20, 30, 40, 50])
serie = pd.Series(arreglo)
print(serie)

<b> Ejercicio 1 </b>

Crear una Serie con los siguientes datos y mostrarla por pantalla:

* Datos: [25, 10, 15, 30, 20]
* Índices: ['A', 'B', 'C', 'D', 'E']


<b> Ejercicio 2 </b>

Crear una Serie con nombres de ciudades como índices y sus respectivas poblaciones como datos.

### Indexación y selección de datos

In [ ]:
import pandas as pd

datos = [10, 20, 30, 40, 50]
etiquetas = ['A', 'B', 'C', 'D', 'E']
serie = pd.Series(datos, index = etiquetas)
print(serie)

Acceder a un elemento específico utilizando una etiqueta:

In [ ]:
print(serie['B'])

Acceder a varios elementos utilizando una lista de etiquetas:

In [ ]:
print(serie[['A', 'C', 'E']])

Acceder a elementos utilizando indexación basada en posición:

In [ ]:
print(serie[1])  # Acceder al segundo elemento
print(serie[1:4])  # Acceder a un rango de elementos (exclusivo)

Acceder a elementos utilizando una condición:

In [ ]:
print(serie[serie > 30])

<b> Ejercicio 1 </b>

Crear una Serie con nombres de ciudades como índices y sus respectivas poblaciones como datos. Luego, seleccionar las ciudades con población superior a 1 millón.

<b> Ejercicio 2 </b>

Sobre el mismo ejercicio extraiga el registro de dos ciudades específicas (usted decida cuáles).

### Operaciones básicas con Series

In [ ]:
import pandas as pd

serie1 = pd.Series([10, 20, 30, 40, 50])
serie2 = pd.Series([5, 15, 25, 35, 45])

Sumar dos Series:

In [ ]:
suma = serie1 + serie2
print(suma)

Restar dos Series:

In [ ]:
resta = serie1 - serie2
print(resta)

Multiplicar una Serie por un escalar:

In [ ]:
multiplicacion = serie1 * 2
print(multiplicacion)

Dividir una Serie por otra:

In [ ]:
division = serie1 / serie2
print(division)

Calcular el cuadrado de una Serie:

In [ ]:
cuadrado = serie1 ** 2
print(cuadrado)

Calcular la raíz cuadrada de una Serie:

In [ ]:
import numpy as np

raiz_cuadrada = np.sqrt(serie1)
print(raiz_cuadrada)

Operaciones de tipo str

In [ ]:
datos = ['John', 'Luis', 'Pablo', 'Cesar']
serie = pd.Series(datos)
serie = serie.str.lower()

print(serie)

In [ ]:
datos = ['john', 'luis', 'pablo', 'cesar']
serie = pd.Series(datos)
serie = serie.str.upper()

print(serie)

In [ ]:
datos = ['john', 'luis', 'pablo', 'cesar']
serie = pd.Series(datos)
serie = serie.str.capitalize()

print(serie)

Algunas operaciones estadísticas

In [ ]:

datos = [2, 4, 2, 5, 1, 3]
serie = pd.Series(datos)

media = serie.mean()
desviacion_estandar = serie.std()

print("Media:", media)
print("Desviación estándar:", desviacion_estandar)

**Ejercicio 1**

Crear una Serie con números enteros del 1 al 10 como índices y sus respectivos cuadrados como datos.

**Ejercicio 2**

Crear dos Series con los siguientes datos y luego sumarlas.

> Serie 1: [10, 20, 30, 40, 50]
>
> Serie 2: [5, 15, 25, 35, 45]

**Ejercicio 3**

Crear una Serie a partir de una lista de cadenas y convertir todas las letras a minúsculas.

Datos: ['Manzana', 'Banana', 'Naranja', 'Pera']

**Ejercicio 4**

Crear una Serie con los siguientes datos y calcular la media y la desviación estándar.

Datos: [15, 22, 18, 25, 20]

**Ejercicio 5**

Crear una Serie a partir de una lista y reemplazar un valor específico por otro.

Datos: [5, 10, 15, 20, 25]
Reemplazar el valor 15 por 30.

**Ejercicio 6**

Crear una Serie con los siguientes datos y mostrar los valores únicos.

Datos: ['manzana', 'pera', 'manzana', 'plátano', 'manzana', 'pera']

## 2. DataFrames en Pandas

* Es una estructura de datos bidimensional que se utiliza para almacenar y manipular datos.
* Se puede pensar en un DataFrame como una tabla en una base de datos o una hoja de cálculo en Excel.
* Está compuesto por filas y columnas, donde cada columna puede contener datos de un tipo diferente (enteros, flotantes, cadenas, etc.).

Un DataFrame en Pandas se puede crear de varias formas, pero comúnmente se utiliza para almacenar datos provenientes de archivos CSV, bases de datos o mediante la combinación de otras estructuras de datos, como Series.

### Creación de DataFrames

### Carga de datos desde diferentes fuentes (CSV, Excel, SQL, etc.)

### Exploración y manipulación de DataFrames

## 3. Indexación y selección de datos en DataFrames

## 4. Limpieza y manipulación de datos

## 5. Operaciones y transformaciones en DataFrames

## 6. Visualización de datos con Pandas

---

# Gracias por completar este laboratorio!

---