<a href="https://colab.research.google.com/github/dcallirgos/UTE_Fundamentos_de_Programacion/blob/main/modulo_2/Pandas_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5> ESTRUCTURAS DE DATOS - PANDAS DATAFRAMES
</font></h1>

---

## Tabla de Contenidos

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>

1. <a href="#item31">Series en Pandas</a>
2. <a href="#item32">DataFrames en Pandas</a>
3. <a href="#item33">Indexación y selección de datos en DataFrames</a>
4. <a href="#item34">Limpieza y manipulación de datos</a>

</font>
</div>

---

## 1. Series en Pandas

* Es una estructura de datos unidimensional que puede contener datos de cualquier tipo (enteros, flotantes, cadenas, etc.). Es similar a una columna en una tabla o una matriz unidimensional, y se utiliza para representar y manipular conjuntos de datos unidimensionales.

* Una Serie consta de dos componentes principales: los datos y el índice. Los datos representan los valores almacenados en la Serie, mientras que el índice es una etiqueta asociada a cada elemento de los datos que permite identificar y acceder a ellos de manera eficiente.

### Creación de Series

Crear una Serie a partir de una lista:

In [ ]:
import pandas as pd

datos = [10, 20, 30, 40, 50]
serie = pd.Series(datos)
print(serie)

Crear una Serie a partir de un diccionario:

In [ ]:
datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
serie = pd.Series(datos)
print(serie)

Crear una Serie con etiquetas personalizadas:

In [ ]:
datos = [10, 20, 30, 40, 50]
etiquetas = ['A', 'B', 'C', 'D', 'E']

serie = pd.Series(datos, index=etiquetas)
print(serie)

Crear una Serie a partir de un arreglo de NumPy:

In [ ]:
import numpy as np

arreglo = np.array([10, 20, 30, 40, 50])
serie = pd.Series(arreglo)
print(serie)

<b> Ejercicio 1 </b>

Crear una Serie con los siguientes datos y mostrarla por pantalla:

* Datos: [25, 10, 15, 30, 20]
* Índices: ['A', 'B', 'C', 'D', 'E']


<b> Ejercicio 2 </b>

Crear una Serie con nombres de ciudades como índices y sus respectivas poblaciones como datos.

### Indexación y selección de datos

In [ ]:
import pandas as pd

datos = [10, 20, 30, 40, 50]
etiquetas = ['A', 'B', 'C', 'D', 'E']
serie = pd.Series(datos, index = etiquetas)
print(serie)

Acceder a un elemento específico utilizando una etiqueta:

In [ ]:
print(serie['B'])

Acceder a varios elementos utilizando una lista de etiquetas:

In [ ]:
print(serie[['A', 'C', 'E']])

Acceder a elementos utilizando indexación basada en posición:

In [ ]:
print(serie[1])  # Acceder al segundo elemento
print(serie[1:4])  # Acceder a un rango de elementos (exclusivo)

Acceder a elementos utilizando una condición:

In [ ]:
print(serie[serie > 30])

<b> Ejercicio 1 </b>

Crear una Serie con nombres de ciudades como índices y sus respectivas poblaciones como datos. Luego, seleccionar las ciudades con población superior a 1 millón.

<b> Ejercicio 2 </b>

Sobre el mismo ejercicio extraiga el registro de dos ciudades específicas (usted decida cuáles).

### Operaciones básicas con Series

In [ ]:
import pandas as pd

serie1 = pd.Series([10, 20, 30, 40, 50])
serie2 = pd.Series([5, 15, 25, 35, 45])

Sumar dos Series:

In [ ]:
suma = serie1 + serie2
print(suma)

Restar dos Series:

In [ ]:
resta = serie1 - serie2
print(resta)

Multiplicar una Serie por un escalar:

In [ ]:
multiplicacion = serie1 * 2
print(multiplicacion)

Dividir una Serie por otra:

In [ ]:
division = serie1 / serie2
print(division)

Calcular el cuadrado de una Serie:

In [ ]:
cuadrado = serie1 ** 2
print(cuadrado)

Calcular la raíz cuadrada de una Serie:

In [ ]:
import numpy as np

raiz_cuadrada = np.sqrt(serie1)
print(raiz_cuadrada)

Operaciones de tipo str

In [ ]:
datos = ['John', 'Luis', 'Pablo', 'Cesar']
serie = pd.Series(datos)
serie = serie.str.lower()

print(serie)

In [ ]:
datos = ['john', 'luis', 'pablo', 'cesar']
serie = pd.Series(datos)
serie = serie.str.upper()

print(serie)

In [ ]:
datos = ['john', 'luis', 'pablo', 'cesar']
serie = pd.Series(datos)
serie = serie.str.capitalize()

print(serie)

Algunas operaciones estadísticas

In [ ]:

datos = [2, 4, 2, 5, 1, 3]
serie = pd.Series(datos)

media = serie.mean()
desviacion_estandar = serie.std()

print("Media:", media)
print("Desviación estándar:", desviacion_estandar)

**Ejercicio 1**

Crear una Serie con números enteros del 1 al 10 como índices y sus respectivos cuadrados como datos.

**Ejercicio 2**

Crear dos Series con los siguientes datos y luego sumarlas.

> Serie 1: [10, 20, 30, 40, 50]
>
> Serie 2: [5, 15, 25, 35, 45]

**Ejercicio 3**

Crear una Serie a partir de una lista de cadenas y convertir todas las letras a minúsculas.

Datos: ['Manzana', 'Banana', 'Naranja', 'Pera']

**Ejercicio 4**

Crear una Serie con los siguientes datos y calcular la media y la desviación estándar.

Datos: [15, 22, 18, 25, 20]

**Ejercicio 5**

Crear una Serie a partir de una lista y reemplazar un valor específico por otro.

Datos: [5, 10, 15, 20, 25]
Reemplazar el valor 15 por 30.

**Ejercicio 6**

Crear una Serie con los siguientes datos y mostrar los valores únicos.

Datos: ['manzana', 'pera', 'manzana', 'plátano', 'manzana', 'pera']

## 2. DataFrames en Pandas

* Es una estructura de datos bidimensional que se utiliza para almacenar y manipular datos.
* Se puede pensar en un DataFrame como una tabla en una base de datos o una hoja de cálculo en Excel.
* Está compuesto por filas y columnas, donde cada columna puede contener datos de un tipo diferente (enteros, flotantes, cadenas, etc.).

Un DataFrame en Pandas se puede crear de varias formas, pero comúnmente se utiliza para almacenar datos provenientes de archivos CSV, bases de datos o mediante la combinación de otras estructuras de datos, como Series.

### 2.1. Creación de DataFrames

Desde un diccionario de Python

In [1]:
import pandas as pd

my_dict = {'Nombre': ['Angelica', 'Marco', 'Diego', 'Hans', 'Dante']}
pd.DataFrame(my_dict)

     Nombre
0  Angelica
1     Marco
2     Diego
3      Hans
4     Dante

In [ ]:
import pandas as pd

data = {'Nombre': ['Juan', 'María', 'Pedro'],
        'Edad': [25, 30, 35],
        'Ciudad': ['Madrid', 'Barcelona', 'Valencia']}

df = pd.DataFrame(data)

print(df)

Desde una lista de listas

In [ ]:
import pandas as pd

data = [['Juan', 25, 'Madrid'],
        ['María', 30, 'Barcelona'],
        ['Pedro', 35, 'Valencia']]

df = pd.DataFrame(data, columns=['Nombre', 'Edad', 'Ciudad'])

print(df)

### 2.2. Carga de datos desde diferentes fuentes (CSV, Excel, SQL, etc.)

Desde un archivo CSV

In [ ]:
import pandas as pd

df = pd.read_csv('train_titanic.csv')

df.head()

Desde un txt

In [ ]:
import pandas as pd

df = pd.read_csv('train_titanic.txt', delimiter = '\t')
df.head()

Desde un archivo Excel

In [ ]:
import pandas as pd

# Leer el archivo de Excel en un DataFrame
df = pd.read_excel('train_titanic.xls')

df.head()

Desde formato parquet

In [ ]:
import pandas as pd

# Leer el archivo Parquet en un DataFrame
df = pd.read_parquet('train_titanic.parquet')

# Imprimir el DataFrame
df.head()

In [ ]:
# Escribir un archivo en formato parquet
df.to_parquet('train_titanic.parquet')

Desde SQL

In [ ]:
import pandas as pd
import sqlite3

# Establecer la conexión con la base de datos
conn = sqlite3.connect('titanic_train.db')

# Consulta SQL
query = 'SELECT * FROM titanic_train'

# Leer los datos desde la base de datos en un DataFrame
df = pd.read_sql(query, conn)

# Cerrar la conexión con la base de datos
conn.close()

# Imprimir el DataFrame
df.head()

In [ ]:

import sqlite3

# Establecer la conexión con la base de datos
conn = sqlite3.connect('titanic_train.db')

# Escribir el DataFrame en un archivo Parquet
df.to_sql('titanic_train', conn, if_exists='replace', index=False)

Conectar Google Drive a Google Colab

In [ ]:
# Importar la biblioteca google.colab:
from google.colab import drive

In [ ]:
# Montar Google Drive en entorno de Colab
drive.mount('/content/drive')

In [ ]:
import pandas as pd

ruta_archivo = '/content/drive/MyDrive/train.csv'
df = pd.read_csv(ruta_archivo)
df.head()

In [ ]:
# Guardar un archivo en drive
df.to_csv('/content/drive/MyDrive/train_prueba.csv')

### 2.3. Exploración y manipulación de DataFrames

In [ ]:
pddf = pd.read_csv('sample_data/california_housing_train.csv')
pddf.head()

#### Selección de columnas

Notación de corchetes

In [ ]:
pddf['total_rooms']  # Selecciona una columna

In [ ]:
pddf[['total_rooms', 'population']]  # Selecciona varias columnas

Método loc[]

In [ ]:
pddf.loc[:, 'total_rooms']  # Selecciona una columna

In [ ]:
pddf.loc[:, ['total_rooms', 'population']]  # Selecciona varias columnas

Método iloc[]

In [ ]:
pddf.iloc[:, 0]  # Selecciona una columna por su índice

In [ ]:
pddf.iloc[:, [0, 1]]  # Selecciona varias columnas por sus índices

#### Creación de nuevas columnas

Funciones aplicadas a columnas

In [ ]:
import numpy as np

pddf['nueva_columna'] = np.sqrt(pddf['total_rooms'])

Condicionales y funciones lambda

In [ ]:
pddf['nueva_columna'] = pddf['total_rooms'].apply(lambda x: 'Mayor' if x > 10 else 'Menor')
pddf.head()

Asignación de un valor constante

In [ ]:
pddf['nueva_columna'] = 1

## 3. Indexación y selección de datos en DataFrames

### 3.1 Filtrado de filas

Operadores de comparación

In [ ]:
filtro = pddf['housing_median_age'] > 30
df_filtrado = pddf[filtro]
df_filtrado.head()

Operador isin()

In [ ]:
df = pd.read_csv('train_titanic.csv')
df.head()

In [ ]:
filtro = df['Sex'].isin(['male'])
df_filtrado = df[filtro]
df_filtrado.head()

Operador between()

In [ ]:
filtro = df['Age'].between(20, 30)
df_filtrado = df[filtro]
df_filtrado.head()

Método query()

In [ ]:
df_filtrado = df.query("Age > 30 and Sex == 'male'")
df_filtrado.head()

### 3.2. Agrupación y agregación

Operación de agregación

In [ ]:
df['Age'].mean()

In [ ]:
df.groupby('Sex')['Age'].mean()

## 4. Limpieza de datos

### 4.1. Ordenación

In [ ]:
df_sorted = df.sort_values(by='Age')
df_sorted.head()

In [ ]:
df_sorted = df.sort_values(by='Age', ascending = False)
df_sorted.head()

In [ ]:
df.sort_values(by='Age', ascending = False, inplace=True)
df.head()

### 4.2. Eliminación de duplicados:

In [ ]:
df2 = df[['Sex', 'Embarked']]
df2

In [ ]:
df_sin_duplicados = df2.drop_duplicates()
df_sin_duplicados

Eliminar filas duplicadas basándote en una columna específica:

In [ ]:
df_sin_duplicados = df2.drop_duplicates(subset='Embarked')
df_sin_duplicados

drop_duplicates() mantiene la primera aparición de una fila duplicada y elimina las siguientes. Sin embargo, puedes cambiar este comportamiento utilizando el argumento keep.

In [ ]:
df_sin_duplicados = df2.drop_duplicates(subset='Embarked', keep='first')
df_sin_duplicados

### 4.3. Manipulación de valores faltantes:

In [ ]:
df.isnull().sum()

In [ ]:
df.Age.fillna(df.Age.mean(), inplace = True)
df.isnull().sum()

## 5. Operaciones y transformaciones en DataFrames

### 5.1. Agregar y eliminar columnas

Agregar una columna

In [ ]:
df['nueva_columna'] = serie_o_lista

Eliminar una columna

In [ ]:
df = df.drop('nueva_columna', axis=1)

In [ ]:
del df['nueva_columna']

### 5.2. Operaciones aritméticas

In [ ]:
df['suma'] = df['SibSp'] + df['Parch']

In [ ]:
df.head()

### 5.3. Combinación de DataFrames

Concatenación

La concatenación se utiliza para combinar dos o más DataFrames a lo largo de un eje específico, ya sea por filas o por columnas. El resultado es un nuevo DataFrame que contiene todas las filas o columnas de los DataFrames originales.

los índices originales se conservan. Si deseas reindexar el DataFrame resultante, puedes utilizar el método reset_index() para restablecer el índice.

In [ ]:
import pandas as pd

# Creamos dos DataFrames de ejemplo
df1 = pd.DataFrame({'A': [1, 2, 3],
                    'B': ['a', 'b', 'c']})

df2 = pd.DataFrame({'A': [4, 5, 6],
                    'B': ['d', 'e', 'f']})

# Concatenamos los DataFrames a lo largo del eje 0 (filas)
df_concatenado = pd.concat([df1, df2], axis=0)

df_concatenado

merge

In [ ]:
import pandas as pd

# Creamos dos DataFrames de ejemplo
df1 = pd.DataFrame({'ID': [1, 2, 3],
                    'Nombre': ['Juan', 'María', 'Pedro']})

df2 = pd.DataFrame({'ID': [2, 3, 4],
                    'Edad': [25, 30, 35]})

# Realizamos la unión basándonos en la columna 'ID'
df_union = pd.merge(df1, df2, on='ID', how = 'inner')
df_union

## 6. Visualización de datos con Pandas

Visualización con Searborn

In [ ]:
import seaborn as sns

In [ ]:
# Gráfico de distribución
sns.displot(data=df, x='Age')

In [ ]:
# Gráfico de cajas
sns.boxplot(data=df, x='Age')

---

# Gracias por completar este laboratorio!

---