<a href="https://colab.research.google.com/github/dcallirgos/UTE_Fundamentos_de_Programacion/blob/main/modulo_2/Pandas_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5> ESTRUCTURAS DE DATOS - PANDAS DATAFRAMES
</font></h1>

---

## Tabla de Contenidos

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>

1. <a href="#item31">Series en Pandas</a>
2. <a href="#item32">DataFrames en Pandas</a>
3. <a href="#item33">Indexación y selección de datos en DataFrames</a>
4. <a href="#item34">Limpieza y manipulación de datos</a>

</font>
</div>

---

## 1. Series en Pandas

* Es una estructura de datos unidimensional que puede contener datos de cualquier tipo (enteros, flotantes, cadenas, etc.). Es similar a una columna en una tabla o una matriz unidimensional, y se utiliza para representar y manipular conjuntos de datos unidimensionales.

* Una Serie consta de dos componentes principales: los datos y el índice. Los datos representan los valores almacenados en la Serie, mientras que el índice es una etiqueta asociada a cada elemento de los datos que permite identificar y acceder a ellos de manera eficiente.

### Creación de Series

Crear una Serie a partir de una lista:

In [ ]:
import pandas as pd

datos = [10, 20, 30, 40, 50]
serie = pd.Series(datos)
print(serie)

Crear una Serie a partir de un diccionario:

In [ ]:
datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
serie = pd.Series(datos)
print(serie)

Crear una Serie con etiquetas personalizadas:

In [ ]:
datos = [10, 20, 30, 40, 50]
etiquetas = ['A', 'B', 'C', 'D', 'E']

serie = pd.Series(datos, index=etiquetas)
print(serie)

Crear una Serie a partir de un arreglo de NumPy:

In [ ]:
import numpy as np

arreglo = np.array([10, 20, 30, 40, 50])
serie = pd.Series(arreglo)
print(serie)

<b> Ejercicio 1 </b>

Crear una Serie con los siguientes datos y mostrarla por pantalla:

* Datos: [25, 10, 15, 30, 20]
* Índices: ['A', 'B', 'C', 'D', 'E']


<b> Ejercicio 2 </b>

Crear una Serie con nombres de ciudades como índices y sus respectivas poblaciones como datos.

### Indexación y selección de datos

In [ ]:
import pandas as pd

datos = [10, 20, 30, 40, 50]
etiquetas = ['A', 'B', 'C', 'D', 'E']
serie = pd.Series(datos, index = etiquetas)
print(serie)

Acceder a un elemento específico utilizando una etiqueta:

In [ ]:
print(serie['B'])

Acceder a varios elementos utilizando una lista de etiquetas:

In [ ]:
print(serie[['A', 'C', 'E']])

Acceder a elementos utilizando indexación basada en posición:

In [ ]:
print(serie[1])  # Acceder al segundo elemento
print(serie[1:4])  # Acceder a un rango de elementos (exclusivo)

Acceder a elementos utilizando una condición:

In [ ]:
print(serie[serie > 30])

<b> Ejercicio 1 </b>

Crear una Serie con nombres de ciudades como índices y sus respectivas poblaciones como datos. Luego, seleccionar las ciudades con población superior a 1 millón.

<b> Ejercicio 2 </b>

Sobre el mismo ejercicio extraiga el registro de dos ciudades específicas (usted decida cuáles).

### Operaciones básicas con Series

In [ ]:
import pandas as pd

serie1 = pd.Series([10, 20, 30, 40, 50])
serie2 = pd.Series([5, 15, 25, 35, 45])

Sumar dos Series:

In [ ]:
suma = serie1 + serie2
print(suma)

Restar dos Series:

In [ ]:
resta = serie1 - serie2
print(resta)

Multiplicar una Serie por un escalar:

In [ ]:
multiplicacion = serie1 * 2
print(multiplicacion)

Dividir una Serie por otra:

In [ ]:
division = serie1 / serie2
print(division)

Calcular el cuadrado de una Serie:

In [ ]:
cuadrado = serie1 ** 2
print(cuadrado)

Calcular la raíz cuadrada de una Serie:

In [ ]:
import numpy as np

raiz_cuadrada = np.sqrt(serie1)
print(raiz_cuadrada)

Operaciones de tipo str

In [ ]:
datos = ['John', 'Luis', 'Pablo', 'Cesar']
serie = pd.Series(datos)
serie = serie.str.lower()

print(serie)

In [ ]:
datos = ['john', 'luis', 'pablo', 'cesar']
serie = pd.Series(datos)
serie = serie.str.upper()

print(serie)

In [ ]:
datos = ['john', 'luis', 'pablo', 'cesar']
serie = pd.Series(datos)
serie = serie.str.capitalize()

print(serie)

Algunas operaciones estadísticas

In [ ]:

datos = [2, 4, 2, 5, 1, 3]
serie = pd.Series(datos)

media = serie.mean()
desviacion_estandar = serie.std()

print("Media:", media)
print("Desviación estándar:", desviacion_estandar)

**Ejercicio 1**

Crear una Serie con números enteros del 1 al 10 como índices y sus respectivos cuadrados como datos.

**Ejercicio 2**

Crear dos Series con los siguientes datos y luego sumarlas.

> Serie 1: [10, 20, 30, 40, 50]
>
> Serie 2: [5, 15, 25, 35, 45]

**Ejercicio 3**

Crear una Serie a partir de una lista de cadenas y convertir todas las letras a minúsculas.

Datos: ['Manzana', 'Banana', 'Naranja', 'Pera']

**Ejercicio 4**

Crear una Serie con los siguientes datos y calcular la media y la desviación estándar.

Datos: [15, 22, 18, 25, 20]

**Ejercicio 5**

Crear una Serie a partir de una lista y reemplazar un valor específico por otro.

Datos: [5, 10, 15, 20, 25]
Reemplazar el valor 15 por 30.

**Ejercicio 6**

Crear una Serie con los siguientes datos y mostrar los valores únicos.

Datos: ['manzana', 'pera', 'manzana', 'plátano', 'manzana', 'pera']

## 2. DataFrames en Pandas

* Es una estructura de datos bidimensional que se utiliza para almacenar y manipular datos.
* Se puede pensar en un DataFrame como una tabla en una base de datos o una hoja de cálculo en Excel.
* Está compuesto por filas y columnas, donde cada columna puede contener datos de un tipo diferente (enteros, flotantes, cadenas, etc.).

Un DataFrame en Pandas se puede crear de varias formas, pero comúnmente se utiliza para almacenar datos provenientes de archivos CSV, bases de datos o mediante la combinación de otras estructuras de datos, como Series.

### 2.1. Creación de DataFrames

Desde un diccionario de Python

In [2]:
# Creación Manual de Data Frame
import pandas as pd

my_dict = {'Nombre': ['Angelica', 'Marco', 'Diego', 'Hans', 'Dante'],
           'Nota': [20, 19, 18, 19, 20]}
data = pd.DataFrame(my_dict)
data

     Nombre  Nota
0  Angelica    20
1     Marco    19
2     Diego    18
3      Hans    19
4     Dante    20

In [3]:
import pandas as pd

data = {'Nombre': ['Juan', 'María', 'Pedro'],
        'Edad': [25, 30, 35],
        'Ciudad': ['Madrid', 'Barcelona', 'Valencia']}

df = pd.DataFrame(data)

print(df)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  María    30  Barcelona
2  Pedro    35   Valencia

Desde una lista de listas

In [5]:
import pandas as pd

data = [['Juan', 25, 'Madrid'],
        ['María', 30, 'Barcelona'],
        ['Pedro', 35, 'Valencia']]

df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])

print(df)

    Name  Age       City
0   Juan   25     Madrid
1  María   30  Barcelona
2  Pedro   35   Valencia

### 2.2. Carga de datos desde diferentes fuentes (CSV, Excel, SQL, etc.)

Desde un archivo CSV

In [6]:
import pandas as pd

df = pd.read_csv('train_titanic.csv')

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
df.shape

(891, 12)

In [8]:
# Muestra las cabeceras de las columnas en forma de lista
df.columns.tolist()

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [9]:
#Para conocer el formato de las columnas
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Desde un txt

In [10]:
import pandas as pd

df = pd.read_csv('train_titanic.txt', delimiter = '\t') # El delimitador \t es como vino el separador en el text
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

Desde un archivo Excel

In [11]:
import pandas as pd

# Leer el archivo de Excel en un DataFrame
df = pd.read_excel('train_titanic.xls')

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
# Para guardar un archivo; en este caso en formato csv
# Importante es indicar que no guarde los indices en caso contrario guarda el indice como una columna adicional
df.to_csv('Prueba_en_clase.csv', index = False)

# Comprobando el archivo en csv
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

Desde formato parquet

In [12]:
import pandas as pd

# Leer el archivo Parquet en un DataFrame
df = pd.read_parquet('train_titanic.parquet')

# Imprimir el DataFrame
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

In [16]:
# Escribir un archivo en formato parquet
df.to_parquet('train_titanic_guardado.parquet')

Desde SQL

In [17]:
import pandas as pd
import sqlite3 # Se requiere esta librería para poder crear la conexión con SQL

In [21]:
# Establecer la conexión con la base de datos
conn = sqlite3.connect('titanic_train.db')

# Consulta SQL en este caso estoy trayendo solo las que cumplan con la condición de sex = "male"
query = 'SELECT * FROM titanic_train WHERE SEX = "male"'

# Leer los datos desde la base de datos en un DataFrame
df = pd.read_sql(query, conn)

# Cerrar la conexión con la base de datos
conn.close()

# Imprimir el DataFrame
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
2,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,None,Q
3,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
4,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,None,S

In [19]:

import sqlite3

# Establecer la conexión con la base de datos
conn = sqlite3.connect('titanic_train_guardado.db')

# Escribir el DataFrame en un archivo SQL
df.to_sql('titanic_train_guardado', conn, if_exists='replace', index=False)

# Cerrar la conexión con la base de datos
conn.close()

Conectar Google Drive a Google Colab

In [22]:
# Importar la biblioteca google.colab:
from google.colab import drive

In [23]:
# Montar Google Drive en entorno de Colab y crea la carpeta drive y jala MyDrive
drive.mount('/content/drive')

Mounted at /content/drive

In [24]:
import pandas as pd

ruta_archivo = '/content/drive/MyDrive/train.csv'
df = pd.read_csv(ruta_archivo)
df.head()

FileNotFoundError: ignored

In [ ]:
# Guardar un archivo en drive
df.to_csv('/content/drive/MyDrive/train_prueba.csv')

### 2.3. Exploración y manipulación de DataFrames

In [25]:
pddf = pd.read_csv('sample_data/california_housing_train.csv')
pddf.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

#### Selección de columnas

Notación de corchetes

In [26]:
pddf['total_rooms']  # Selecciona una columna
# Aqui está llamandolo como una serie; fijese que no hay encabezado

0        5612.0
1        7650.0
2         720.0
3        1501.0
4        1454.0
          ...
16995    2217.0
16996    2349.0
16997    2677.0
16998    2672.0
16999    1820.0
Name: total_rooms, Length: 17000, dtype: float64

In [28]:
pddf[['total_rooms']]  # Selecciona una columna
# En este caso estóy jalando la misma columna pero lo estoy trayendo como Data Frame
# Notese que traje el encabezado

       total_rooms
0           5612.0
1           7650.0
2            720.0
3           1501.0
4           1454.0
...            ...
16995       2217.0
16996       2349.0
16997       2677.0
16998       2672.0
16999       1820.0

[17000 rows x 1 columns]

In [27]:
pddf[['total_rooms', 'population']]  # Selecciona varias columnas
# Al llamar dos columnas entonces se está llamando un Data Frame

       total_rooms  population
0           5612.0      1015.0
1           7650.0      1129.0
2            720.0       333.0
3           1501.0       515.0
4           1454.0       624.0
...            ...         ...
16995       2217.0       907.0
16996       2349.0      1194.0
16997       2677.0      1244.0
16998       2672.0      1298.0
16999       1820.0       806.0

[17000 rows x 2 columns]

Método loc[]

In [30]:
pddf.loc[:5, 'total_rooms']  # Selecciona desde el index 0 hasta el index 5 y la columna total_rooms

0    5612.0
1    7650.0
2     720.0
3    1501.0
4    1454.0
5    1387.0
Name: total_rooms, dtype: float64

In [29]:
pddf.loc[:, 'total_rooms']  # Selecciona una columna

0        5612.0
1        7650.0
2         720.0
3        1501.0
4        1454.0
          ...
16995    2217.0
16996    2349.0
16997    2677.0
16998    2672.0
16999    1820.0
Name: total_rooms, Length: 17000, dtype: float64

In [32]:
pddf.loc[5:10, ['total_rooms', 'population']]  # Selecciona varias columnas desde el index 5 al 10

    total_rooms  population
5        1387.0       671.0
6        2907.0      1841.0
7         812.0       375.0
8        4789.0      3134.0
9        1497.0       787.0
10       3741.0      2434.0

In [33]:
pddf.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

Extraiga la fila de indice 100 hasta el 105 y las columnas total_rooms y media_income

In [35]:
# Extraiga la fila de indice 100 hasta el 105 y las columnas total_rooms y media_income

pddf.loc[100:105, ['total_rooms', 'median_income']]

     total_rooms  median_income
100       2183.0         6.3814
101        935.0         2.5769
102        709.0         2.4511
103       1629.0         4.1293
104       1121.0         2.2969
105       1009.0         2.0463

In [38]:
# filtre los datos con median_income > 2

pddfres = pddf.loc[pddf.median_income > 2]

In [39]:
# Para comprobar que he filtrado correctamente los datos cuya median_income > 2
pddfres.median_income.min()

2.0025

Método iloc[]

Index Location

In [40]:
# A diferencia de loc que se coloca el nombre de la columna aqui se le indica la posición de la columna
pddf.iloc[:, 0]  # Selecciona una columna por su índice

0       -114.31
1       -114.47
2       -114.56
3       -114.57
4       -114.57
          ...
16995   -124.26
16996   -124.27
16997   -124.30
16998   -124.30
16999   -124.35
Name: longitude, Length: 17000, dtype: float64

In [43]:
pddf.iloc[5:11, [3, 4]]  # Selecciona varias columnas por sus índices

    total_rooms  total_bedrooms
5        1387.0           236.0
6        2907.0           680.0
7         812.0           168.0
8        4789.0          1175.0
9        1497.0           309.0
10       3741.0           801.0

#### Creación de nuevas columnas

Funciones aplicadas a columnas

In [44]:
pddf.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [46]:
# le estoy sacando la raiz cuadrada a total_rooms
# previamente debo importar numpy
import numpy as np
np.sqrt(pddf['total_rooms'])

0        74.913283
1        87.464278
2        26.832816
3        38.742741
4        38.131352
           ...
16995    47.085029
16996    48.466483
16997    51.739733
16998    51.691392
16999    42.661458
Name: total_rooms, Length: 17000, dtype: float64

In [49]:
# Incorporo el resultado de la raíz cuadrada al data frame
import numpy as np

pddf['nueva_columna'] = np.sqrt(pddf['total_rooms'])
pddf.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,nueva_columna
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,74.913283
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,87.464278
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,26.832816
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,38.742741
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,38.131352

Condicionales y funciones lambda

In [50]:
pddf['nueva_columna2'] = pddf['total_rooms'].apply(lambda x: 'Mayor' if x > 10 else 'Menor')
pddf.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,nueva_columna,nueva_columna2
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,74.913283,Mayor
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,87.464278,Mayor
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,26.832816,Mayor
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,38.742741,Mayor
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,38.131352,Mayor

In [53]:
pddf['log_median_income'] = pddf.median_income.apply(lambda x : np.log(x))
pddf.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,nueva_columna,nueva_columna2,log_median_income
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,74.913283,Mayor,0.401189
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,87.464278,Mayor,0.598837
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,26.832816,Mayor,0.501321
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,38.742741,Mayor,1.160554
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,38.131352,Mayor,0.654926

Asignación de un valor constante

In [ ]:
pddf['nueva_columna'] = 1

## 3. Indexación y selección de datos en DataFrames

### 3.1 Filtrado de filas

Operadores de comparación

In [54]:
filtro = pddf['housing_median_age'] > 30
df_filtrado = pddf[filtro]
df_filtrado.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,nueva_columna,nueva_columna2,log_median_income
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0,28.495614,Mayor,0.535499
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0,69.202601,Mayor,0.778499
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0,38.691084,Mayor,0.784267
12,-114.61,34.84,48.0,1291.0,248.0,580.0,211.0,2.1571,48600.0,35.930488,Mayor,0.768765
13,-114.61,34.83,31.0,2478.0,464.0,1346.0,479.0,3.2120,70400.0,49.779514,Mayor,1.166894

Operador isin()

In [55]:
df = pd.read_csv('train_titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [56]:
filtro = df['Sex'].isin(['male'])
df_filtrado = df[filtro]
df_filtrado.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

Operador between()

In [57]:
filtro = df['Age'].between(20, 30)
df_filtrado = df[filtro]
df_filtrado.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S

Método query()

In [59]:
# Similar a un formato de SQL

df_filtrado = df.query("Age > 30 and Sex == 'male'")
df_filtrado.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S

### 3.2. Agrupación y agregación

Operación de agregación

In [60]:
df['Age'].mean()

29.69911764705882

In [61]:
# La Agrupacón va entre paréntesis y la Agregación entre corchetes
df.groupby('Sex')['Age'].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [62]:
df.groupby(['Sex','Survived'])['Age'].mean()

Sex     Survived
female  0           25.046875
        1           28.847716
male    0           31.618056
        1           27.276022
Name: Age, dtype: float64

<b> Tarea </b>

1. En el data frame de Titanic, ¿cuánto es el ratio de supervivencia de las mujeres y hombres?. Sugerencia: Utiice groupby y survived como promedio

2. Indique el ratio de supervivencia de las mujeres mayores de 20 años y menores de 20 años. Sugerencia: utilice groupby y survived como promedio

3. Cree una columna nueva que calcule la variable Pclass pero con los siguientes cambios:
1 --> Primera Clase
2 --> Segunda Clase
3 --> Tercera Clase

## 4. Limpieza de datos

### 4.1. Ordenación

In [63]:
# Ordenar según la variable que se indica por defecto lo hace por menor a mayor
df_sorted = df.sort_values(by='Age')
df_sorted.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S

In [64]:
# Sin embargo uno puede indicarle la forma de ordenamiento

df_sorted = df.sort_values(by='Age', ascending = False)
df_sorted.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q

In [65]:
# Cuando se utiliza inplace cuando se quiere chancar el resultado sobre el Data Frame

df.sort_values(by='Age', ascending = False, inplace=True)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q

### 4.2. Eliminación de duplicados:

In [ ]:
df2 = df[['Sex', 'Embarked']]
df2

In [ ]:
df_sin_duplicados = df2.drop_duplicates()
df_sin_duplicados

Eliminar filas duplicadas basándote en una columna específica:

In [ ]:
df_sin_duplicados = df2.drop_duplicates(subset='Embarked')
df_sin_duplicados

drop_duplicates() mantiene la primera aparición de una fila duplicada y elimina las siguientes. Sin embargo, puedes cambiar este comportamiento utilizando el argumento keep.

In [ ]:
df_sin_duplicados = df2.drop_duplicates(subset='Embarked', keep='first')
df_sin_duplicados

### 4.3. Manipulación de valores faltantes:

In [ ]:
df.isnull().sum()

In [ ]:
df.Age.fillna(df.Age.mean(), inplace = True)
df.isnull().sum()

## 5. Operaciones y transformaciones en DataFrames

### 5.1. Agregar y eliminar columnas

Agregar una columna

In [ ]:
df['nueva_columna'] = serie_o_lista

Eliminar una columna

In [ ]:
df = df.drop('nueva_columna', axis=1)

In [ ]:
del df['nueva_columna']

### 5.2. Operaciones aritméticas

In [ ]:
df['suma'] = df['SibSp'] + df['Parch']

In [ ]:
df.head()

### 5.3. Combinación de DataFrames

Concatenación

La concatenación se utiliza para combinar dos o más DataFrames a lo largo de un eje específico, ya sea por filas o por columnas. El resultado es un nuevo DataFrame que contiene todas las filas o columnas de los DataFrames originales.

los índices originales se conservan. Si deseas reindexar el DataFrame resultante, puedes utilizar el método reset_index() para restablecer el índice.

In [ ]:
import pandas as pd

# Creamos dos DataFrames de ejemplo
df1 = pd.DataFrame({'A': [1, 2, 3],
                    'B': ['a', 'b', 'c']})

df2 = pd.DataFrame({'A': [4, 5, 6],
                    'B': ['d', 'e', 'f']})

# Concatenamos los DataFrames a lo largo del eje 0 (filas)
df_concatenado = pd.concat([df1, df2], axis=0)

df_concatenado

merge

In [ ]:
import pandas as pd

# Creamos dos DataFrames de ejemplo
df1 = pd.DataFrame({'ID': [1, 2, 3],
                    'Nombre': ['Juan', 'María', 'Pedro']})

df2 = pd.DataFrame({'ID': [2, 3, 4],
                    'Edad': [25, 30, 35]})

# Realizamos la unión basándonos en la columna 'ID'
df_union = pd.merge(df1, df2, on='ID', how = 'inner')
df_union

## 6. Visualización de datos con Pandas

Visualización con Searborn

In [ ]:
import seaborn as sns

In [ ]:
# Gráfico de distribución
sns.displot(data=df, x='Age')

In [ ]:
# Gráfico de cajas
sns.boxplot(data=df, x='Age')

---

# Gracias por completar este laboratorio!

---